.idea/
*.iml
ex03-server-streaming/target/
ex04-client-streaming/target/
ex05-bidirectional-streaming/target/
ex06-input-validation/target/

/ex01-hellogrpc/target/maven-status/
/ex01-hellogrpc/target/ex01-hellogrpc-1.0-SNAPSHOT.jar
/ex01-hellogrpc/target/maven-archiver/
/ex01-hellogrpc/target/generated-test-sources/
/ex01-hellogrpc/target/classes/
/ex01-hellogrpc/target/test-classes/
/ex01-hellogrpc/target/protoc-dependencies/
/ex01-hellogrpc/target/protoc-plugins/

/ex02-uniary-communication/target/surefire-reports/
/ex02-uniary-communication/target/ex02-uniary-communication-1.0-SNAPSHOT.jar
/ex02-uniary-communication/target/protoc-dependencies/
/ex02-uniary-communication/target/maven-archiver/
/ex02-uniary-communication/target/classes/
/ex02-uniary-communication/target/generated-test-sources/
/ex02-uniary-communication/target/maven-status/
/ex02-uniary-communication/target/protoc-plugins/
/ex02-uniary-communication/target/test-classes/
